@use '../../../scss/global.scss' as *;

.aboutme {
    .inner {
        padding: 120px 0;
        h2 {
            text-align: center;
            margin-bottom: 50px;
        }
        .con {
            display: flex;
            justify-content: space-between;
            gap: 70px;
            .pic {
                width: 270px;
                height: 421px;
                border-radius: 145px 145px 0 0;
                position: relative;
                flex-shrink: 0;
                img {
                    @include full-size;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 145px 145px 0 0;
                    box-shadow: 7px 7px 0 $green;
                }
                span {
                    position: absolute;
                    bottom: -70px;
                    right: 20px;
                    @include font-style($size: $fz-300, $weight: $fw-900);
                    line-height: 0;
                }
            }
            .intro {
                display: flex;
                flex-direction: column;
                gap: 35px;
                h3 {
                    margin: 70px 0;
                    @include font-style($size: $fz-24, $weight: $fw-600);
                    font-family: $font-kr;
                    span {
                        font-weight: 100;
                        font-family: $font-en;
                        margin-left: 20px;
                    }
                }
                p {
                    word-break: keep-all;
                    line-height: 1.7;
                }
                .spec {
                    display: flex;
                    justify-content: space-between;
                    .box {
                        padding: 55px 35px;
                        h4 {
                            font-weight: 700;
                            margin-bottom: 10px;
                        }
                        border: 1px solid $black;
                        box-shadow: 3px 3px 0 $black;
                        ul {
                            display: flex;
                            gap: 20px;
                            margin-top: 30px;
                            li {
                                border: 1px solid $black;
                                border-radius: 30px;
                                padding: 0px 15px 5px;
                                font-size: 13px;
                                span {
                                    color: $blue;
                                    font-weight: 900;
                                    font-size: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .aboutme {
        width: 100%;
        max-width: 100vw;
        .inner {
            padding: 120px 40px 600px;
            .con {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                .pic {
                    width: 180px;
                    height: 281px;
                    border-radius: 90px 90px 0 0;
                    img {
                        @include full-size;
                        object-fit: cover;
                    }
                    span {
                        bottom: -50px;
                        right: 5px;
                        font-size: 200px;
                    }
                }
                .intro {
                    flex: 1;
                    h3 {
                        margin: 60px 0 40px;
                    }
                    p {
                        line-height: 1.7;
                    }
                    .spec {
                        position: absolute;
                        left: 0;
                        bottom: -480px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        .box {
                            padding: 20px 30px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-mobile) {
    .aboutme {
        width: 100%;
        max-width: 100vw;
        .inner {
            padding: 120px 20px;
            .con {
                display: flex;
                flex-direction: column;
                gap: 30px;
                .pic {
                    margin: 0 auto;
                    width: 150px;
                    height: 234px;
                    span {
                        bottom: -30px;
                        right: 5px;
                        font-size: 130px;
                    }
                }
                .intro {
                    margin-left: 0;
                    gap: 30px;
                    width: 100%;
                    h3 {
                        margin: 60px 0 15px;
                        font-size: 20px;
                        span {
                            margin-left: 10px;
                        }
                    }
                    .spec {
                        position: static !important;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .box {
                            padding: 20px;
                            width: 100%;
                            ul {
                                gap: 10px;
                                margin-top: 20px;
                                li {
                                    border-radius: 16px;
                                    padding: 0 10px 10px;
                                    text-align: center;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
