@use '../../../scss/global.scss' as *;

.works {
    height: 100vh;
    overflow: hidden;
    .inner {
        display: flex;
        height: 100vh;
        overflow: hidden;
        .filters_wrap {
            position: sticky;
            top: 0;
            height: 100vh;
            width: 350px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 100px 0;
            h2 {
                margin-top: 50px;
            }
            .filters {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .filter {
                    user-select: none;
                    position: relative;
                    h3 {
                        cursor: pointer;
                        position: relative;
                        display: block;
                        width: auto;
                        display: inline-block;
                        overflow: visible;
                        line-height: 1.3;
                        font-weight: 300;
                        span {
                            display: inline-block;
                            position: relative;
                            transition: color 0.3s;
                            transform-origin: left center;
                            will-change: font-size, transform, color;
                            pointer-events: auto;
                        }
                    }
                    &.active h3 {
                        span {
                            @include font-style(
                                $weight: $fw-400,
                                $color: $blue
                            );
                            line-height: 1;
                            letter-spacing: -5px;
                        }
                    }
                }
            }
        }
        .items_wrap {
            z-index: 1;
            width: 900px;
            height: 100vh;
            overflow-y: auto;
            overflow-x: hidden;
            padding-top: 100px;
            scroll-behavior: smooth;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }
            .items {
                display: flex;
                gap: 50px;
                width: 100%;
                box-sizing: border-box;
                .items_col {
                    flex: 1;
                    &:nth-child(2) {
                        position: relative;
                        top: 80px;
                    }
                    .item {
                        margin-bottom: 50px;
                        cursor: pointer;
                        .works_item {
                            width: 400px;
                            border: 1px solid $black;
                            padding: 30px;
                            .img_wrap {
                                width: 340px;
                                height: 200px;
                                overflow: hidden;
                                border: 1px solid $grey;
                                img {
                                    width: 340px;
                                    height: 200px;
                                    transition: all 0.2s;
                                    object-fit: cover;
                                    object-position: top;
                                }
                            }
                            .ctgr {
                                font-style: italic;
                                padding: 15px 0;
                                font-size: 14px;
                            }
                            .title_wrap {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                p {
                                    @include font-style(
                                        $size: $fz-18,
                                        $weight: $fw-700
                                    );
                                }
                                span {
                                    @include font-style(
                                        $size: $fz-12,
                                        $color: $grey7
                                    );
                                    padding: 3px 16px;
                                    border-radius: 20px;
                                    border: 1px solid #777;
                                    margin-left: 10px;
                                }
                            }
                            .line {
                                height: 1px;
                                background-color: $black;
                                margin: 15px 0;
                            }
                            button {
                                width: 120px;
                                height: 30px;
                                border: 1px solid $black;
                                @include font-style($size: $fz-12);
                                letter-spacing: 3px;
                                display: block;
                                margin: 0 auto;
                                transition: all 0.2s;
                            }
                        }
                        &:hover {
                            .img_wrap img {
                                scale: 1.2;
                            }
                            button {
                                background-color: $blue;
                                border: 1px solid $blue;
                                @include font-style(
                                    $size: $fz-12,
                                    $weight: $fw-600,
                                    $color: $white
                                );
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .works {
        width: 100%;
        max-width: 100vw;
        .inner {
            flex-direction: column;
            .filters_wrap {
                padding: 50px 0 12px;
                width: 100%;
                height: auto;
                position: relative;
                z-index: 10;
                h2 {
                    margin: 50px 0 20px;
                }
            }
            .items_wrap {
                padding-top: 0px;
                width: 100%;
                position: relative;
                z-index: 1;
                .items {
                    gap: 28px;
                    .items_col {
                        &:nth-child(2) {
                            top: 40px;
                        }
                        .item {
                            margin-bottom: 28px;
                            .works_item {
                                width: 330px;
                                padding: 20px;
                                .img_wrap {
                                    width: 290px;
                                    height: 162px;
                                    img {
                                        width: 290px;
                                        height: 162px;
                                    }
                                }
                                .ctgr {
                                    padding: 15px 0 10px;
                                }
                                .title_wrap {
                                    flex-direction: column;
                                    align-items: flex-start;
                                    gap: 10px;
                                    span {
                                        margin-left: 0;
                                        margin-right: 8px;
                                    }
                                }
                                .line {
                                    margin: 25px 0 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-mobile) {
    .works {
        width: 100%;
        max-width: 100vw;
        .inner {
            .filters_wrap {
                z-index: 10 !important;
                h2 {
                    margin-top: 35px;
                }
            }
            .items_wrap {
                position: relative;
                z-index: 1 !important;
                .items {
                    flex-direction: column;
                    gap: 0;
                    .items_col {
                        &:nth-child(2) {
                            position: static;
                            top: 0;
                        }
                        .item {
                            margin-bottom: 35px;
                            .works_item {
                                width: 100%;
                                padding: 12px 12px 20px;
                                .img_wrap {
                                    width: 100%;
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                                .title_wrap {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: space-between;
                                    gap: 5px;
                                    span {
                                        font-size: 12px;
                                        margin-left: 5px;
                                        margin-right: 0px;
                                        padding: 2px 10px;
                                    }
                                }
                                .line {
                                    margin: 20px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
