@use '../../scss/global.scss' as *;

.loader {
    --partials: 3;
    --section-height: calc(100vh / var(--partials));
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: $white;
    z-index: 1000;
    visibility: hidden;
    pointer-events: none;
    &.ready {
        visibility: visible;
        pointer-events: all;
    }
    .loader_clip {
        position: absolute;
        width: 100vw;
        height: var(--section-height);
        overflow: hidden;
        z-index: 1;
        .marquee {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            white-space: nowrap;
            @include font-style($size: 10vw, $weight: $fw-900, $color: $blue);
            .marquee_container {
                display: flex;
            }
        }
        &.clip_top,
        &.clip_bottom {
            background-color: $black;
            .marquee {
                @include font-style(
                    $size: 10vw,
                    $weight: $fw-100,
                    $color: $white
                );
            }
        }
        &.clip_top {
            top: 0;
            .marquee {
                left: 65vw;
            }
        }
        &.clip_center {
            top: var(--section-height);
        }
        &.clip_bottom {
            bottom: 0;
            .marquee {
                left: 110vw;
            }
        }
    }
}
