@use '../../../scss/global.scss' as *;

.worksview {
    min-height: 100vh;
    background-color: #333;
    position: relative;
    overflow: hidden;
    .title {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        h2 {
            margin-bottom: 20px;
            @include font-style(
                $size: $fz-64,
                $weight: $fw-100,
                $color: $white
            );
        }
        button {
            @include font-style(
                $size: $fz-16,
                $weight: $fw-200,
                $color: $white
            );
            background: $blue;
            border-radius: 30px;
            padding: 15px 50px;
            font-family: $font-en;
            letter-spacing: 0px;
        }
    }
    .gallery {
        position: relative;
        width: 100vw;
        height: 100svh;
        overflow: visible;
        .item {
            position: absolute;
            width: 250px;
            height: 196px;
            will-change: transform, opacity;
            transform: translate3d(0, 0, 0);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
                opacity: 0.8;
                display: block;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(84, 152, 255, 0.5);
                border-radius: 8px;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .worksview {
        width: 100%;
        max-width: 100vw;
        .gallery {
            .item {
                width: 200px;
                height: 157px;
            }
        }
    }
}
@media (max-width: $breakpoint-mobile) {
    .worksview {
        width: 100%;
        max-width: 100vw;
        .title {
            h2 {
                font-size: 52px;
            }
            button {
                padding: 12px 30px;
            }
        }
        .gallery {
            .item {
                width: 120px;
                height: 94px;
            }
        }
    }
}
