@use '../../scss/global.scss' as *;

.hero {
    min-height: 100vh;
    @include flex-center;
    position: relative;
    overflow: hidden;
    .bg {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, $black 50%, $blue 50%);
        bottom: 0;
        left: -50%;
        opacity: 0.5;
        position: absolute;
        right: -50%;
        top: 0;
        z-index: 0;
    }
    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }
    .bg3 {
        animation-duration: 5s;
    }
    .inner {
        z-index: 10;
        .whoami {
            color: #101c41;
            opacity: 0.5;
            font-size: 32px;
            margin-bottom: 120px;
        }
        h1 {
            @include font-style(
                $size: $fz-120,
                $weight: $fw-900,
                $color: $white
            );
            margin-bottom: 10px;
            span {
                display: inline-block;
                opacity: 0;
                transform: translateY(50px);
            }
        }
        p {
            @include font-style($size: $fz-40, $color: $white);
            opacity: 0.4;
            line-height: 1.5;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .hero {
        width: 100%;
        max-width: 100vw;
        .inner {
            width: 100%;
            max-width: 100vw;
            padding: 0 40px;
            box-sizing: border-box;
            .whoami {
                font-size: 24px;
                margin-bottom: 90px;
            }
            h1 {
                font-size: 70px;
                word-break: break-word;
                display: block;
            }
            p {
                font-size: 28px;
                line-height: 1.2;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .hero {
        width: 100%;
        max-width: 100vw;
        .inner {
            width: 100%;
            max-width: 100vw;
            padding: 0 20px;
            .whoami {
                font-size: 20px;
            }
            h1 {
                word-break: break-word;
                display: block;
                font-size: 60px;
                max-width: 320px;
            }
            p {
                font-size: 18px;
                line-height: 1.4;
            }
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}
