@use '../../scss/global.scss' as *;

:root {
    --nav-height: 70px;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--nav-height);
    transform: translateY(calc(var(--nav-height) * -1));
    display: flex;
    background: rgba($white, 0.5);
    backdrop-filter: blur(8px);
    box-shadow: rgba($black, 0.2) 0px 0px 20px;
    z-index: 100;
    .line {
        flex: 1;
        &.left {
            height: 1px;
            background-color: $black;
            margin-top: 58px;
        }
        &.right {
            height: 3px;
            background-color: $black;
            margin-top: 16px;
        }
    }
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-left: 1px solid $black;
        position: relative;
        box-sizing: border-box;
        @include container;
        .logo_line {
            position: absolute;
            top: 0;
            left: 0;
            width: 40vw;
            max-width: 450px;
            height: 1px;
            background-color: $black;
            margin-top: 58px;
        }
        .logo {
            width: 40vw;
            max-width: 450px;
            padding-left: 15px;
            a {
                display: inline-block;
                p {
                    @include font-style($size: $fz-11, $weight: $fw-300);
                    margin-bottom: 2px;
                    letter-spacing: 0.1em;
                }
                h1 {
                    @include font-style($weight: $fw-700);
                    margin-bottom: 10px;
                }
            }
        }
        .menu {
            border-top: 3px solid $black;
            padding-top: 15px;
            ul {
                display: flex;
                gap: 50px;
                a {
                    text-decoration: none;
                    color: $black;
                    padding: 5px 15px;
                    border: 1px solid transparent;
                    transition: 0.3s ease;

                    &:hover {
                        border: 1px solid $black;
                    }
                }
            }
        }
        .hamburger {
            display: none;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    :root {
        --nav-height: 56px;
    }
    .nav {
        .line {
            display: none;
        }
        .inner {
            width: 100%;
            padding: 0 40px;
            border-left: none;
            .logo_line {
                display: none;
            }
            .logo {
                width: auto;
                padding-left: 0;
                a {
                    p {
                        font-size: 10px;
                    }
                    h1 {
                        @include font-style($size: $fz-14, $weight: $fw-600);
                        margin-bottom: 0;
                    }
                }
            }
            .hamburger {
                width: 28px;
                height: 22px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $black;
                    transition: 0.3s ease;
                }
                &.active span:nth-child(1) {
                    transform: translateY(10px) rotate(45deg);
                }
                &.active span:nth-child(2) {
                    opacity: 0;
                }
                &.active span:nth-child(3) {
                    transform: translateY(-10px) rotate(-45deg);
                }
            }
            .menu {
                position: absolute;
                top: 56px;
                left: 0;
                width: 100%;
                background: rgba($white, 0.9);
                box-shadow: rgba($black, 0.05) 0px 3px 10px;
                border-top: 1px solid $grey;
                padding: 20px 0;
                opacity: 0;
                transition: 0.3s ease;
                text-align: right;
                ul {
                    flex-direction: column;
                    gap: 20px;
                    padding: 20px 40px;
                    a {
                        padding: 0;
                        border: none;
                        &:hover {
                            border: none;
                        }
                    }
                }
                &.open {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    :root {
        --nav-height: 48px;
    }
    .nav {
        .inner {
            padding: 0 20px;
            .logo {
                a {
                    p {
                        margin-bottom: 1px;
                    }
                    h1 {
                        @include font-style($size: $fz-13, $weight: $fw-600);
                    }
                }
            }
            .hamburger {
                width: 22px;
                height: 16px;
                &.active span:nth-child(1) {
                    transform: translateY(5px) rotate(45deg);
                }
                &.active span:nth-child(3) {
                    transform: translateY(-9px) rotate(-45deg);
                }
            }
            .menu {
                top: 48px;
                ul {
                    padding: 10px 20px;
                }
            }
        }
    }
}
