@use '../../../scss/global.scss' as *;

.skills {
    background-color: $blue;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    .circle {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background: $white;
    }
    .inner {
        flex: 1;
        padding-bottom: 210px;
        .skill_wrap {
            z-index: 2;
            position: relative;
            margin-top: 180px;
            h2 {
                text-align: center;
            }
            .contents {
                display: flex;
                align-items: end;
                justify-content: space-between;
                margin-top: 70px;
                position: relative;
                .box_wrap {
                    position: relative;
                    width: 800px;
                    min-height: 380px;
                    .box {
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include full-size;
                        opacity: 0;
                        transition: opacity 0.5s ease;
                        padding: 60px 39px;
                        background: $white;
                        border: 1px solid $black;
                        box-shadow: 3px 3px 0 $black;
                        .box_title {
                            @include font-style(
                                $size: $fz-14,
                                $weight: $fw-600
                            );
                        }
                        .divider {
                            width: 100%;
                            height: 1px;
                            background: $black;
                            margin: 15px 0 30px;
                        }
                        .icon_grid {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 20px 48px;
                            .icon_item {
                                width: 80px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                white-space: normal;
                                word-break: keep-all;
                                img {
                                    width: 45px;
                                    height: 45px;
                                }
                                p {
                                    margin-top: 10px;
                                    line-height: 1.2;
                                    @include font-style(
                                        $size: $fz-14,
                                        $weight: $fw-300
                                    );
                                }
                                &:hover {
                                    p {
                                        color: $blue;
                                    }
                                }
                            }
                        }
                        &.others_box {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 16px 30px;
                            .group {
                                .group_title {
                                    @include font-style(
                                        $size: $fz-14,
                                        $weight: $fw-600
                                    );
                                }
                                .divider {
                                    margin: 15px 0;
                                }
                            }
                        }
                    }
                }
                .list_wrap {
                    text-align: right;
                    .list {
                        display: block;
                        @include font-style(
                            $size: $fz-36,
                            $weight: $fw-300,
                            $color: $grey7
                        );
                        line-height: 1.8;
                        cursor: pointer;
                        transition:
                            color 0.3s ease,
                            border 0.3s ease;
                        &.active {
                            @include font-style(
                                $size: $fz-36,
                                $weight: $fw-500,
                                $color: $black
                            );
                            border-bottom: 1px solid $green;
                        }
                    }
                }
                .progress-bar {
                    position: absolute;
                    top: 50%;
                    left: 70%;
                    transform: translate(-55%, -50%);
                    width: 3px;
                    height: 100%;
                    background-color: $grey;
                    .progress {
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include full-size;
                        background-color: $black;
                        transform-origin: top;
                        transform: scaleY(0);
                        will-change: transform;
                    }
                }
            }
        }
    }
    .skills_line {
        @include font-style($size: $fz-20, $weight: $fw-100, $color: $blue);
        height: 60px;
        overflow: hidden;
        background-color: #e9f0fa;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        div {
            display: flex;
            width: max-content;
            animation: skills_line 120s linear infinite;
            span {
                display: inline-block;
                white-space: nowrap;
                letter-spacing: 20px;
            }
        }
    }
    @keyframes skills_line {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .skills {
        min-height: 100vh;
        height: 100vh;
        .inner {
            .skill_wrap {
                .contents {
                    flex-direction: column-reverse;
                    gap: 40px;
                    margin-top: 60px;
                    .col {
                        width: 100%;
                    }
                    .box_wrap {
                        width: 100%;
                        margin: 0 auto;
                        .box {
                            .icon_grid {
                                gap: 20px 25px;
                            }
                        }
                    }
                    .list_wrap {
                        text-align: center;
                        display: flex;
                        gap: 20px;
                        justify-content: center;
                        order: -1;
                        .list {
                            @include font-style(
                                $size: $fz-24,
                                $weight: $fw-600,
                                $color: $grey
                            );
                            line-height: 1.2;
                            padding: 10px 12px;
                            &.active {
                                @include font-style(
                                    $size: $fz-28,
                                    $weight: $fw-600,
                                    $color: $black
                                );
                            }
                        }
                    }
                    .progress-bar {
                        display: none;
                    }
                }
            }
        }
        .skills_line {
            font-size: 18px;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .skills {
        .inner {
            .skill_wrap {
                margin-top: 140px;
                .contents {
                    margin-top: 16px;
                    gap: 16px;
                    .box_wrap {
                        max-width: 100%;
                        height: auto;
                        min-height: auto;
                        .box {
                            position: relative;
                            height: auto;
                            padding: 20px;
                            .divider {
                                margin: 15px 0;
                            }
                            .icon_grid {
                                width: 100%;
                                margin: 0 auto;
                                gap: 16px;
                                .icon_item {
                                    width: 56px;
                                }
                            }
                            &.others_box {
                                justify-content: flex-start;
                                gap: 20px;
                                .group {
                                    .divider {
                                        margin: 10px 0;
                                    }
                                }
                            }
                        }
                    }
                    .list_wrap {
                        gap: 12px;
                        .list {
                            @include font-style(
                                $size: $fz-18,
                                $weight: $fw-600,
                                $color: $grey
                            );
                            padding: 8px 10px;
                            &.active {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
        .skills_line {
            font-size: 16px;
            height: 50px;
        }
    }
}
