@use './variables' as *;

@mixin font-style($size: $fz-16, $weight: $fw-400, $color: $black) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin full-size {
    width: 100%;
    height: 100%;
}

@mixin container($max: 1410px) {
    width: 100%;
    max-width: $max;
    margin: 0 auto;
}
