$blue: #5498ff;
$green: #01cfab;
$black: #000;
$white: #fff;
$grey: #ddd;
$grey7: #777;

$font-en: 'Be Vietnam Pro', sans-serif;
$font-kr: 'Pretendard';

$fz-11: 11px;
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-24: 24px;
$fz-28: 28px;
$fz-32: 32px;
$fz-36: 36px;
$fz-40: 40px;
$fz-44: 44px;
$fz-52: 52px;
$fz-60: 60px;
$fz-64: 64px;
$fz-130: 130px;
$fz-200: 200px;
$fz-400: 400px;
$fz-700: 700px;
$fz-900: 900px;

$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

$breakpoint-mobile: 100vh;
$breakpoint-tablet: 100vh;
$breakpoint-desktop: 1200px;
